h1 {
	font-family:'Berkshire Swash', cursive;
	font-size: 80px;
	text-align: center;
}

#main {
	text-align: center;
}


.letter {
	border-bottom: 1px solid black;
	color: white;
	display: inline-block;
	list-style: none;
	margin: 0 5px;
	text-align: center;
	width: 20px;
}

#letters {
	text-align: center;
}

#molly {
	text-align: center;
}

::-webkit-input-placeholder { 
  color: red;
}

.currentWord {
	list-style: none;
}

.outcome {
	opacity: 0;
	transition: opacity 1s ease;
}
.correct {
	background-color: green;
	transition: all 1s ease;
}

.error {
    color: red;
    opacity: 1;
}

.warning {
    color: orange;
    opacity: 1;
}
.win {
    color: green;
    opacity: 1;
}

.lose {
	color: red;
	opacity: 1;
}