.title {
	text-align: center;
	font-family:'Berkshire Swash', cursive;
	font-size: 80px;
}

.wrapper {
	text-align: center;
}

form {
 text-align: center;
}

.input {
	position: relative;

}

#guess {
	width: 50px;
	height: 30px;
	margin-top: 400px;
}
